*{
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body{
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  display: grid;
}

.Navigation {
  border-bottom: solid rgba(46, 58, 89, .1) 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 120px;
  padding-right: 120px;
}

.Body {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.BannerBody {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.BannerBody img {
  max-width: 980px;
  width: 100%;
}

.Category ul {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Category ul li {
  color: black;
  padding: 0.5rem;
  border-radius: 6px;
  margin-right: 2px;
  transition: all 0.25s linear;
}

.Category ul li:hover {
  color: white;
  background-color: #2E3A59;
  fill: white;
}

.Category .Category_select{
  color: white;
  background-color: #2E3A59;
}

.Category .push{
  margin-left: auto;
  padding: 0;
  fill: #2E3A59;
}